<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Join the Rat Cave</h2>
                <hr class="light">
                <p class="text-faded">Welcome to The Rat Cave! We are a fast-growing, tight-knit gaming community. Join our Discord Server to learn more!</p>
                <a href="https://discord.gg/theratcave" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
