<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB6SJ4D"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}
  {% if page.layout != 'post' %}
    {% include loader.html %}
  {% endif %}
  {% include header.html %}

      {{ content }}

  {% include footer.html %}
  {% include javascripts.html %}

</body>

</html>
